.listBookBlock{

    display: flex;
    height: 89px;
    width: 100%;
    border-radius: 0px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px #E7E7E7;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 700px; 
    justify-content: space-between;
    margin-bottom: 10px;
   
}

.bookCover{

    width: 50px; 
    height: 64px;
    border-radius: 2px;
}

.bookInfo{
    margin-left: 30px;
    flex-direction: column;
    text-align: left;
}

.bookTitle{

    font-family: Lora;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    width: 80%;
    letter-spacing: -0.657px;

    color: #363636;
}

.autorTitle{
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.438px;
    text-transform: uppercase;

    color: #A0A0A0;

}

.borrowInfo{

    display: flex; 
    float: right;
    font-size:16px;
}


.borrowDate{
    padding-left: 20px;
    font-size:16px; 
}
